@font-face {
  font-family: 'main-fonts';
  src: url(../../assets/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: 'graff-fonts';
  src: url(../../assets/fonts/RockSalt-Regular.ttf);
}
@font-face {
  font-family: 'title-fonts';
  src: url(../../assets/fonts/Poppins-Black.ttf);
}
