:root {
  --clr-1: rgb(255, 255, 255);
  --clr-2: rgb(0, 0, 0);
  --clr-3: rgb(190, 190, 190);

  --clr-1-op3: rgba(255, 255, 255, 0.3);
  --clr-1-op4: rgba(255, 255, 255, 0.4);
  --clr-1-op5: rgba(255, 255, 255, 0.5);
  --clr-1-op6: rgba(255, 255, 255, 0.6);
  --clr-1-op8: rgba(255, 255, 255, 0.8);
  --clr-1-op9: rgba(255, 255, 255, 0.9);

  --clr-2-op2: rgba(0, 0, 0, 0.2);
  --clr-2-op3: rgba(0, 0, 0, 0.3);
  --clr-2-op4: rgba(0, 0, 0, 0.4);
  --clr-2-op5: rgba(0, 0, 0, 0.5);
  --clr-2-op6: rgba(0, 0, 0, 0.6);
  --clr-2-op7: rgba(0, 0, 0, 0.7);
  --clr-2-op8: rgba(0, 0, 0, 0.8);
  --clr-2-op9: rgba(0, 0, 0, 0.9);
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'main-fonts';
}
main {
  position: relative;
}
h1,
h2,
em {
  cursor: default;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
