@keyframes backgroundTitleAnim {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 90%;
  }
}
@keyframes appearFromLeft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
